/* .navbar{
    gap: 40px;
    font-size: 24px;
    justify-content: space-around;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #3A1212;
    display: flex;
} */

/* img{
    margin: 0 20px;
} */
